/*
    TODO: Selectors are a bit too specific to the landing page, and should
    probably rely more on classes. Once we get the privacy, terms, etc. pages
    together they may want to use header and other elements in ways unlike
    how the landing page uses them.
*/

:root {
    --color-primary: #0B1B40;
    --color-secondary: #F0CFE3;
    --color-accent: #CBEFFF;
}

@font-face {
    font-family: Catamaran;
    src:url("../font/Catamaran-Thin.ttf");
}

html * {
    font-weight: 100;
}

body {
    
background: linear-gradient(180deg, #CBEFFF 53.37%, rgba(255, 255, 255, 0) 102.4%), #F0CFE3;
    color: var(--color-primary);
    font-family: Catamaran;
    margin: 0px;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    margin: auto;
    padding-top: 20%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

header img {
    width: 60%;
    margin: auto;
}

header h1 {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    font-size: 2.5em;
    text-align: center;
    margin: 2em 0;
}

header a {
    width: 35%;
    align-self: center;
    margin: auto;
    display: flex;
    align-content: center;
}

/* Adapted from https://github.com/pixelsign/html5-device-mockups */
/* === */
.device-wrapper {
    max-width: 300px;
    width: 100%;
}

.device {
    padding-bottom: 198.89807163%;
    position: relative;
}

.device::after {
    background-image: url(../img/iphone_portrait.png);
    background-size: cover;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.device .screen
{
    background-image: url("../img/splash-screen.png");
    background-size: cover;
    height: 93.49030471%;
    left: 7.162534435%;
    position: absolute;
    top: 3.254847645%;
    width: 85.67493113%;
}
/* === */

/* @media (max-width: 768px) {
    .device-wrapper {
        display: none;
    }

    header h1 {
        text-align: center;
    }
} */

h1 {
    margin: 0px;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

section div {
    text-align: center;
    width: 75%;
}

hr {
    color: inherit;
    width: 10%;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    margin-bottom: 7.5vh;
    margin-top: 10vh;
    text-align: center;
}
